#converterDiv {
    text-align: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#converterLeft, #arrow, #converterRight {
    vertical-align: middle;
    display: inline-block;
}
#arrow {
    width: 1em;
    font-size: 2em;
    text-align: center;
    cursor: pointer;
}
#converterLeft, #converterRight {
    width: 40%;
    height: 15em;
    text-align: left;
    padding: 15px;
    position: relative;
}
#converterLeft select, #converterRight select {
    width: 100%;
    margin-top: -3em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#inputArea, #outputArea {
    -webkit-user-select: unset!important; /* Safari */
    -ms-user-select: unset!important; /* IE 10 and IE 11 */
    user-select: unset!important; /* Standard syntax */
    resize: none;
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    padding: 13px;
    vertical-align: middle;
    margin: 0;
    box-sizing: border-box; /* fit to div */
}
.converterLoading {
    filter: brightness(0.8);
}

/* Small desktop view */
@media screen and (max-width: 890px) and (min-width: 800px) {
    #converterLeft, #converterRight {
        width: 45%;
    }
    #converterLeft {
        padding-right: 5px;
    }
    #converterRight {
        padding-left: 5px;
    }
    #arrow {
        display: none;
    }
}

#converterBottom {
    display: block;
}
.optionGroup {
    display: block;
    margin-bottom: 0.5em;
}
input[type=button][selected=true] {
    background-color: rgb(71, 215, 71);
}
input[type=checkbox] {
    width: 2em;
    height: 2em;
}
label, input[type=checkbox], input[type=range] {
    vertical-align: middle;
}



#seeMoreList, #exampleList {
    list-style-type: none;
    padding-left: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
}
#seeMoreList li, #exampleList li {
    display: inline-block;
    margin-right: 0.5em;
}

/* Mobile view */
@media screen and (max-width: 800px) {
    #converterLeft, #converterRight {
        display: block;
        width: 95%;
        /* center */
        margin-left: auto;
        margin-right: auto;
        height: 13em;
    }
    #converterLeft {
        padding-bottom: 5px;
    }
    #converterRight {
        padding-top: 5px;
    }
    #arrow {
        display: none;
    }
    #seeMoreList li, #exampleList li {
        display: block;
        padding-bottom: 0.5em;
    }
}